body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select,button{padding: 0;margin: 0;font-family: "微软雅黑", sans-serif;}
li,button{list-style:none;}
img{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
/* 尾部 */
#footer{
	width: 100%;
	height: 266px;
	background: url(../images/footer-bg.png) no-repeat;
	position: relative;
}
#footer .line{
	width: 960px;
	height: 16px;
	margin:2px auto 20px;
	background-color:#4F689C; 
}
#footer .other_links{
	width: 960px;
	margin:0 auto;
	text-align: center;
	position: relative;
}
#footer .left_link{
	position: absolute;
	width: 180px;
	left: 270px;
	top: 30px;
	text-align: right;
	padding-right: 30px;
	border-right: 2px solid #ccc;
}

#footer .right_link{
	width: 200px;
	position: absolute;
	left: 510px;
	top: 30px;
	text-align: left;

}
.left_link li,.right_link li{
		margin-bottom: 14px;
}
.left_link li a,.right_link li a{
	color: #CECECE;
}
.left_link li a:hover,.right_link li a:hover{
	color: black;
}

footer{
	position: absolute;
	top: 240px;
	left: 520px;
	text-align: center;
}