body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select,button{font-family: "微软雅黑", sans-serif;}
.person-centre-bg{
    background-color: #307ac1;
}
.person-centre-script_bg{
    background-color: #e7e4e4;
}

.person-centre-bt-bg{
    background-color: #f37800;
}

/*首部*/
#person-centre-top .top-left{
    padding-left:45px;
    padding-top:30px;
    padding-bottom:30px;
}
#person-centre-top .top-left-img{
    height:60%;
    width:60%;
    margin-left:30px;
}
#person-centre-top .top-right{
    padding-top:45px;
}
#person-centre-top .top-right-h4{
   color:#ffffff;
}

/*主体*/
#person-centre-body .left{
    padding-left:5%;
    padding-right:5%;
    padding-top:15px;
    padding-bottom: 30px;
}
#person-centre-body .left-headimage-p{
    text-align: center;
}
#person-centre-body .left-headimage{
    height: 92px;
    width: 140px;
    border: 3px solid #307ac1;
}
#person-centre-body .left-nickname{
    text-align: center;
    font-family: 楷体;
}
#person-centre-body .left-navigation{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#person-centre-body .left-navigation li{
    margin-top:5px;
    border: 3px solid #307ac1;
    font-size: 16px;
}
#person-centre-body .right{
    margin-top:130px;
}

/* 尾部 */

#person-centre-footer{
    background: url(../img/footer-bg.png) no-repeat;
}
#person-centre-footer .footer{
    width: 100%;
    height: 266px;
    position: relative;
}
#person-centre-footer .line{
    width: 960px;
    height: 16px;
    margin:2px auto 20px;
    background-color:#4F689C;
}
#person-centre-footer .other-links{
    width: 960px;
    margin:0 auto;
    text-align: center;
    position: relative;
}
#person-centre-footer .left-link{
    position: absolute;
    width: 180px;
    left: 270px;
    top: 30px;
    text-align: right;
    padding-right: 30px;
    border-right: 2px solid #ccc;
}

#person-centre-footer .right-link{
    width: 200px;
    position: absolute;
    left: 510px;
    top: 30px;
    text-align: left;

}
#person-centre-footer .left-link li,.right-link li{
    margin-bottom: 14px;
}
#person-centre-footer .left-link li a,.right-link li a{
    color: #CECECE;
}
#person-centre-footer .left-link li a:hover,.right-link li a:hover{
    color: black;
}

footer{
     position: absolute;
     top: 240px;
     left: 520px;
     text-align: center;
 }