body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select,button{font-family: "微软雅黑", sans-serif;}

/*商品列表*/
#goods-list p{
    text-align: center;
}
#goods-list img{
    height: 80px;
    width:120px;
    float: left;
    margin-right: 25px;
}
#goods-list .checkbox{
    height: 82px;
    padding-top: 38px;
    float: left;
    width: 20%;
}
#goods-list .checkbox input{
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 3px solid #307ac1;
}
#goods-list .good-img{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #307ac1;
    width:80%;
    float:right;
}
#goods-list .good-img ul{
    float:left;
}